// Tipografia
$font-sans-serif: "Open Sans", sans-serif !default;
$font-serif: "Times New Roman", serif !default;
$font-mono: Courier, Monotype !default;
$font-script: '' !default;
$font-dingbat: '' !default;

$font-titulo-h1: 20 $font-sans-serif !default;
$font-titulo-h2: 18 $font-sans-serif !default;
$font-titulo-h3: 16 $font-sans-serif !default;
$font-titulo-h4: 14 $font-sans-serif !default;
$font-titulo-h5: 12 $font-sans-serif !default;
$font-titulo-h6: 10 $font-sans-serif !default;
